
/*
* {
    font-family: font-family: 'Explora', cursive;
        font-family: 'Rubik', sans-serif;
    color:white;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
 --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
}


.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    color:white;
    font-family: 'Explora', cursive;
    font-family: 'Rubik', sans-serif;
    background-image:url(/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 421px;
    margin-bottom: 100px;
   

}

.menu-tablet {
    display: none;
}


 .navbar{
    position: fixed;
    width: 100%;
   
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#14d9c4;
    opacity: 0.9;
    height: 45px;
    align-items: center;
   
}

.nombre-grupo{
     font-size: 16px;
     text-transform: uppercase;
     height: 60px;
     text-align: center;
     line-height: 60px;
     background-color: #099d8d;
     opacity: 0.95;
    
}

.elemento-menu {
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;

}

.rectangle{
    background-color: white;
    font-size: 18px;
    text-align: center;
    color: black;
    position:relative;
    top: 89%;
    width: 90%;
    height: 15%;
    align-self: center;
    align-content: center;
    padding-top: 20px;
    line-height: 25px;
}



.section-3 {
    width: 100%;
    height: 50%;
    margin: 1083px 0 0;
    padding: 30px 15px 45px;
    background-color: var(--white);
}
.quienes-somos { 
      /* width: 193px; */
        /* height: 45px; */
        margin: 0 47.5px 30px 30.5px;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: var(--blue-green);
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center
}
.img {
    width: 180px;
      /* height: 180px; */
      /* margin-left: 55px; */
      border-radius: 4px;
      border: solid 5px var(--black-8);
}
.datos{
      display: flex;
        flex-direction: column;
        align-items: center;
}
.nombre{
      width: 147px;
        height: 45px;
        margin: 10px 0;
        font-family: OpenSans;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.25;
        letter-spacing: normal;
        text-align: center;
        color: var(--black)
}
.descripcion{
      width: 277px;
        /* height: 200px; */
        display: inline;
        margin: 0px 0% 7px;
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: var(--gunmetal);
      
}

.logos {
      box-sizing: border-box;
        margin: 27px 29px 41px;
        color: var(--blue-green);
        display: flex;
        flex-direction: row;
        width: 124px;
        height: 30px;
    
}
.logos .punto {
    font-family: OpenSans;
    color: var(--gunmetal);
    font-size: 40px;

margin: 2px;
position: relative;
top: -14px;
}

  
  
.equipo-section{
    margin: auto;
    color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.title-section {
    color: #14d9c4;
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
}

.contenido-section {
     color: #54585a;
     font-family: OpenSans, sans-serif;
     font-size: 16px;
     margin: 15px;
}

.footer{
    color: #b8b8b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombre-grupo-footer {
    padding-top: 32px;
}

.menu-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    margin: 20px auto;
    gap: 7px;
}

.equipo {
    text-decoration: none;
    text-decoration-color: none;
    color: #b8b8b9;
}

.logo-footer {
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 20vh;
}



.fortalezas-debilidades-section {
    background-color: #f1f1f1;
    text-align: center;
    padding: 2rem;
}

h3 {
    font-weight: 3000;
    color: #099d8d

}

.fortalezas-debilidades-section p {
    color:#54585a;

}

/*media queries*/

@media screen and (min-width:768px) {

.hero {
        width: 100%;
        color: white;
        font-family: 'Explora', cursive;
        font-family: 'Rubik', sans-serif;
        background-image: url(/img/fondo.png);
        background-size: cover;
        height: 421px;


    }

    .navbar {
    display: none;
    }

 .menu-tablet {
    display: flex;
    flex-direction: row;
    background-color: #099d8d;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
                }


    .elemento-menu {
        font-size: 16px;
        list-style-type: none;
        text-transform: uppercase;
        display: inline;
        padding:10px;

}
.rectangle {
    background-color: white;
    font-size: 18px;
    opacity: 0.8;
    text-align: left;
    color: black;
    position: relative;
    top: 68%;
    right: 15%;
    width: 55%;
    height: 25%;
    align-content: center;
    padding: 10px;
    line-height: 25px;
}

}