
/*
* {
    font-family: font-family: 'Explora', cursive;
        font-family: 'Rubik', sans-serif;
    color:white;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
 --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
}
html {
     font-size: 62.5% 
    }

  


header{
    display: flex;
    flex-direction: column;
    width: 100%;
    color:white;
    font-family: 'Explora', cursive;
    font-family: 'Rubik', sans-serif;
   
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#14d9c4;
    opacity: 0.9;
    height: 45px;
    align-items: center;
}



.nombre-grupo{
     font-size: 16px;
     text-transform: uppercase;
     height: 60px;
     text-align: center;
     line-height: 60px;
     background-color: #099d8d;
     opacity: 0.95;
    
}

.elemento-menu {
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;

}

/* principio parte manuela  */

.section-3 {
    width: 100%;
    padding: 30px 15px 30px;
    background-color: var(--white);
}
.quienes-somos { 
        
        margin-bottom: 3rem;
        box-sizing: border-box;
        font-family: Rubik;
        font-size: 2.4rem;
        text-align: center;
        color: var(--blue-green);
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center
}
.img {
    width: 180px;
    border-radius: 4px;
    border: solid 5px var(--black-8);
}
.datos{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.nombre{
        margin: 10px 0;
        font-family: OpenSans, sans-serif;
        font-size: 2rem;
        text-align: center;
        color: var(--black)
}
.descripcion{
        display: inline;
        width: 80%;
        max-width: 500px;
        margin-bottom: 10px; 
        font-family: OpenSans, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: var(--gunmetal);
      }


.logos {
      box-sizing: border-box;
        margin: 10px 0 10px 0;
        color: var(--blue-green);
        display: flex;
        flex-direction: row;
        width: 124px;
        height: 30px;
    
}
.logos .punto {
    font-family: OpenSans;
    color: var(--gunmetal);
    font-size: 4rem;
    margin: 2px;
    position: relative;
    top: -14px;
}

.linklogos {
    color: var(--blue-green);
    font-size: 1.6rem;
    
}

@media screen and (min-width: 768px) {
    .section-3 {
        width: 80%;
        margin: auto;
    }

    .article {
            display: flex;
            flex-direction: row;
            align-items:flex-start
        }
    .img {
     width: 200px;}
   
    
    .datos {
        align-items: flex-start;
        margin-left: 30px;
    }
   
    
    .descripcion{
        display: inline;
        width: 100%;
        margin-bottom: 10px; 
        text-align: left;
        
      } 
    .b   {
        flex-direction: row-reverse;
           }
    .bb{
     align-items: flex-end;
    margin-right: 30px;
            
     }
     .bbb {
        text-align:right
    
        }
    .nav{
        margin-bottom: 20px;
    }
    
}

@media screen and (min-width: 1200px) ¨ {
    .img {
            width: 278px;
        }
}

/* fin parte manuela */
  
  
.equipo-section{
    margin: auto;
    color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}

.title-section {
    color: #14d9c4;
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
}

.contenido-section {
     color: #54585a;
     font-family: OpenSans, sans-serif;
     font-size: 16px;
     margin: 15px;
}

.footer{
    color: #b8b8b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombre-grupo-footer {
    padding-top: 32px;
}

.menu-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    margin: 20px auto;
    gap: 7px;
}

.equipo {
    text-decoration: none;
    text-decoration-color: none;
    color: #b8b8b9;
}

.logo-footer {
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 20vh;
}



.fortalezas-debilidades-section {
    background-color: #f1f1f1;
    text-align: center;
    padding: 2rem;
}

h3 {
    font-weight: 3000;
    color: #099d8d

}

.fortalezas-debilidades-section p {
    color:#54585a;

}