.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: 'Explora', cursive;
  font-family: 'Rubik', sans-serif;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 421px;
  margin-bottom: 100px;


}

.menu-tablet {
  display: none;
}


.navbar {
  position: fixed;
  width: 100%;

}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #14d9c4;
  opacity: 0.9;
  height: 45px;
  align-items: center;

}

.nombre-grupo {
  font-size: 16px;
  text-transform: uppercase;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #099d8d;
  opacity: 0.95;

}

.elemento-menu {
  font-size: 16px;
  list-style-type: none;
  text-transform: uppercase;

}

.rectangle {
  background-color: white;
  font-size: 18px;
  text-align: center;
  color: black;
  position: relative;
  top: 89%;
  width: 90%;
  height: 15%;
  align-self: center;
  align-content: center;
  padding-top: 20px;
  line-height: 25px;
}
@media screen and (min-width:768px) {

  .hero {
    width: 100%;
    color: white;
    font-family: 'Explora', cursive;
    font-family: 'Rubik', sans-serif;
    background-image: url(/img/fondo.png);
    background-size: cover;
    height: 421px;


  }

  .navbar {
    display: none;
  }

  .menu-tablet {
    display: flex;
    flex-direction: row;
    background-color: #099d8d;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
  }


  .elemento-menu {
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
    padding: 10px;

  }

  .rectangle {
    background-color: white;
    font-size: 18px;
    opacity: 0.8;
    text-align: left;
    color: black;
    position: relative;
    top: 68%;
    right: 15%;
    width: 55%;
    height: 25%;
    align-content: center;
    padding: 10px;
    line-height: 25px;
  }

}