<!--PARTE DE MANUELA-->
<section class="section-3">

    <h2 class="quienes-somos">QUIÉNES SOMOS</h2>

    <div class="contenido">
        <article class="article">
            <figure> <img class="img" src="./nosotras/francesca.png"
                    alt="Foto de Francesca"> </figure>
            <div class="datos">
                <h3 class="nombre"> Francesca Bentin </h3>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Illum
                    distinctio
                    eum
                    neque alias autem consectetur sapiente optio, soluta aut
                    voluptatem? Distinctio debitis
                    adipisci
                    provident accusantium maxime delectus, assumenda eum ullam!
                </p>

                <nav class="nav">
                    <ul class="logos">
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>
        </article>
        <article class="article b">
            <figure> <img class="img" src="./nosotras/nuria.png"
                    alt="Foto de Nuria Castaño"> </figure>
            <div class="datos bb">
                <h3 class="nombre"> Nuria Castaño </h3>
                <p class="descripcion bbb">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Illum
                    distinctio
                    eum
                    neque alias autem consectetur sapiente optio, soluta aut
                    voluptatem? Distinctio debitis
                    adipisci
                    provident accusantium maxime delectus, assumenda eum ullam!
                </p>

                <nav class="nav">
                    <ul class="logos">
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>
        </article>
        <article class="article">
            <figure> <img class="img" src="./nosotras/cristina.png"
                    alt="Foto de Cristina Faixedas"> </figure>
            <div class="datos">
                <h3 class="nombre"> Cristina Faixedas </h3>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Illum
                    distinctio
                    eum
                    neque alias autem consectetur sapiente optio, soluta aut
                    voluptatem? Distinctio debitis
                    adipisci
                    provident accusantium maxime delectus, assumenda eum ullam!
                </p>

                <nav class="nav">
                    <ul class="logos">
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>
        </article>
        <article class="article b">
            <figure> <img class="img" src="./nosotras/manuela.png"
                    alt="Foto de Manuela Inclán"> </figure>
            <div class="datos bb">
                <h3 class="nombre"> Manuela Inclán </h3>
                <p class="descripcion bbb">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Illum
                    distinctio
                    eum
                    neque alias autem consectetur sapiente optio, soluta aut
                    voluptatem? Distinctio debitis
                    adipisci
                    provident accusantium maxime delectus, assumenda eum ullam!
                </p>

                <nav class="nav">
                    <ul class="logos">
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>
        </article>
        <article class="article">
            <figure> <img class="img" src="./nosotras/virginia.png"
                    alt="Foto de Virginia Lucero"> </figure>
            <div class="datos">
                <h3 class="nombre"> Virginia Lucero </h3>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Illum
                    distinctio
                    eum
                    neque alias autem consectetur sapiente optio, soluta aut
                    voluptatem? Distinctio debitis
                    adipisci
                    provident accusantium maxime delectus, assumenda eum ullam!
                </p>

                <nav class="nav">
                    <ul class="logos">
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li class="logos punto"><span>·</span></li>
                        <li><a class="linklogos" href="#"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>
        </article>
    </div>
</section>
<!--PARTE DE MANUELA-->