<section class="fortalezas-debilidades-section">
    <div>
        <h3>Fortalezas</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
            ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit
            at ante eget auctor. Nunc maximus ipsum non volutpat convallis.
            Morbi interdum neque et aliquam varius.
        </p>
    </div>
    <div>
        <h3>Debilidades</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum
            ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit
            at ante eget auctor. Nunc maximus ipsum non volutpat convallis.
            Morbi interdum neque et aliquam varius.
        </p>
    </div>
</section>