<article class="@@classArticle">
    <figure> <img class="img" src="@@imgSrc" alt="@@alt"> </figure>
    <div class="@@classData">
        <h3 class="nombre">@@name </h3>
        <p class="@@classDescription">@@description
        </p>

        <nav class="nav">
            <ul class="logos">
                <li><a class="linklogos" href="@@twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="logos punto"><span>·</span></li>
                <li><a class="linklogos" href="@@linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="logos punto"><span>·</span></li>
                <li><a class="linklogos" href="@@github"><i class="fa-brands fa-github-alt"></i></a>
                </li>
                <li class="logos punto"><span>·</span></li>
                <li><a class="linklogos" href="@@mail"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
        </nav>
    </div>
</article>