<footer class="footer">
  
  <small class="nombre-grupo-footer">Diverlopers © 2023</small>

  <section>
    <ul class="menu-inferior">
      <li>
        <a class="equipo" href="./section1.html">EQUIPO</a>
      </li>
      <li>
        <a class="quienes-somos-footer" href="./section3.html">QUIÉNES SOMOS</a>
      </li>
      <li>
        <a class="contacto-footer" href="signup.html">CONTACTO</a>
      </li>
    </ul>
  </section>
  
  <section>
    <a class="logo" href="https://adalab.es/">
      <img class="logo"
        src="./assets/images/logo-adalab.png"
        alt="Logo Adalab"
      />
    </a>
  </section>

</footer>
