<footer class="footer">
  
  <small class="nombre-grupo-footer">Nombre del grupo © 2023</small>

  <section class="footer-2">
    <figure>
      <figcaption>Nombre del grupo © 2023</figcaption>
      <a href="https://adalab.es/">
        <img class="logo" src="./assets/images/logo-adalab.png"
          alt="Logo Adalab" />
      </a>
    </figure>
  </section>

  <section>
    <ul class="menu-inferior">
      <li>
        <a class="equipo" href="#equipo">EQUIPO</a>
      </li>
      <li>
        <a class="quienes-somos-footer" href="#quienes">QUIÉNES SOMOS</a>
      </li>
      <li>
        <a class="contacto-footer" href="#">CONTACTO</a>
      </li>
    </ul>
  </section>
  
  <section class="logo-footer">
    <a href="https://adalab.es/">
      <img
        class="logo"
        src="./assets/images/logo-adalab.png"
        alt="Logo Adalab"
      />
    </a>
  </section>

</footer>
