<header class="hero">
  <div class="navbar">
    <div class="nombre-grupo">
      <h1>Diverlopers</h1>
    </div>
    <nav class="nav-menu">
      <li class="elemento-menu"> <a href= "#equipo">equipo</a></li>
      <li class="elemento-menu"> <a href="#quienes">quienes somos</a></li>
      <li class="elemento-menu"> <a href="signup.html">contacto</a></li>
    </nav>
  </div>

  <nav class="menu-tablet">
    <div class="navbar-tablet">
      <h1>nombre de grupo</h1>
    </div>
    <ul class="nav-menu-tablet">
      <li class="elemento-menu"> <a href= "#equipo">equipo</a></li>
      <li class="elemento-menu"> <a href="#quienes">quienes somos</a></li>
      <li class="elemento-menu"> <a href="signup.html">contacto</a></li>
    </ul>
  </nav>
  <div class="rectangle">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
  </div>
</header>
