<header class="hero">
  <div class="navbar">
    <div class="nombre-grupo">
      <h1>nombre de grupo</h1>
    </div>
    <nav class="nav-menu">
      <li class="elemento-menu">equipo</li>
      <li class="elemento-menu">quienes somos</li>
      <li class="elemento-menu">contacto</li>
    </nav>
  </div>

  <nav class="menu-tablet">
    <div class="navbar-tablet">
      <h1>nombre de grupo</h1>
    </div>
    <ul class="nav-menu-tablet">
      <li class="elemento-menu">equipo</li>
      <li class="elemento-menu">quienes somos</li>
      <li class="elemento-menu">contacto</li>
    </ul>
  </nav>
  <div class="rectangle">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
  </div>
</header>
