<!--PARTE DE MANUELA-->
<section class="section-3">

    <h2 class="quienes-somos" id="quienes">QUIÉNES SOMOS</h2>

    <div class="contenido">

        <include src="./article.html" classArticle="article" imgSrc="./assets/images/francesca.png"
            alt="Foto de Francesca" classData="datos" name="Francesca Bentin" classDescription="description"
            description="Mi nombre es Francesca, llevo varios años trabajando en el area comercial, mayormente en empresas de consumo masivo.Después de muchos años de intentar darle un giro a mi carrera y al ir formándome por mi cuenta, descubrí que el desarrollo web me apasiona! Es por ello que elegí adalab para emprender este camino. Estoy muy emocionada de formar parte de este sector, con muchas ganas de aprender y comprometida a dar siempre el 100%"
            twitter="https://twitter.com/FranBentin/" linkedin="https://www.linkedin.com/in/francescabentin"
            github="https://github.com/francescabentin" mail="mailto:francescabentin@gmail.com"></include>

        <include src="./article.html" classArticle="article b" imgSrc="./assets/images/nuria.png" alt="Foto de Nuria"
            classData="datos bb" name="Nuria Castaño" classDescription="description bbb"
            description="Estudié ingeniería técnica en diseño industrial, donde descubrí por primera vez la programación en una de mis asignaturas. Después de trabajar como diseñadora y adentrarme en el mundo del marketing digital, volví a encontrarme con el desarrollo web y como persona curiosa y siempre con ganas de aprender y evolucionar, no dude saltar este mundo el cual, me apasiona. Me alegra haber entrado en este sector de la mano de Adalab en donde la formación está siendo muy completa.!"
            twitter="#" linkedin="https://www.linkedin.com/in/nuria-casta%C3%B1o-codesal/"
            github="https://github.com/Nuriacode" mail="mailto:codesalnuria@gmail.com">
        </include>

        <include src="./article.html" classArticle="article" imgSrc="./assets/images/cristina.png"
            alt="Foto de Cristina" classData="datos" name="Cristina Faixedas" classDescription="description"
            description="Mi nombre es Cristina, llevo 9 años trabajando de Administrativa, en el sector de Atención al Cliente y Logística. Gracias a ello, entro en el mundo de la programación sabiéndome desenvolver en trabajos de oficina y con experiencia en coordinación entre distintos departamentos y empresas para conseguir llevar a cabo un objetivo común con la mayor eficiencia, facilidad y rapidez posibles. He descubierto que el desarrollo web me apasiona y he decidido dedicar mis esfuerzos a perseguir ese cambio de vida con mucha ilusión y muchas ganas de seguir aprendiendo"
            twitter="#" linkedin="#" github="https://github.com/Cristina-F-R?tab=projects"
            mail="mailto:cristina.faixedas@gmail.com"></include>

        <include src="./article.html" classArticle="article b" imgSrc="./assets/images/manuela.png"
            alt="Foto de Manuela" classData="datos bb" name="Manuela Inclán" classDescription="description bbb"
            description="Mi primer contacto con la programación fue haciendo instalaciones artísticas interactivas, desde entonces siempre he querido aprender más y en ello estoy gracias a Adalab"
            twitter="#" linkedin="#" github="https://github.com/manuelainclan" mail="mailto:minclanfigueiras@gmail.com">
        </include>

        <include src="./article.html" classArticle="article" imgSrc="./assets/images/virginia.png"
            alt="Foto de Virginia" classData="datos" name="Virginia Lucero" classDescription="description"
            description="Después de estudiar varias cosas relacionadas con la sanidad y habiendo trabajado de ello, me mudé a Londres y formé una familia. Siempre con la idea de que el saber no ocupa lugar, y buscando opciones laborales que pudiese compatibilizar con mis hijos, encontré Adalab. Un reto más :músculo:"
            twitter="#" linkedin="#" github="https://github.com/virlucero" mail="mailto:virlucero@gmail.com"></include>
    </div>
</section>
<!--PARTE DE MANUELA-->