<section class="fortalezas-debilidades-section">
  <div class="arrow"></div>
  <div>
    <h3 class="section2-h3">Fortalezas</h3>
    <p>
      Nos gustaría destacar las ganas e ilusión que hemos puesto en este primer proyecto que aun no teniendo unos
      grandes
      conocimientos, hemos conseguido crear esta pagina web y utilizar GIT, por lo que nos hace pensar con optimismo,
      que en
      un corto periodo de tiempo podremos completar proyectos aun mas complejos.
    </p>
  </div>
  <div>
    <h3 class="section2-h3">Debilidades</h3>
    <p>
      La creación de este primer proyecto a supuesto un gran desafío para nosotras, teniéndonos que acostumbrar a
      un modelo de trabajo al que no estábamos acostumbradas en nuestra mayoría, aprendiendo a escucharnos y ayudándonos
      siempre las unas a las otras. Obviamente nuestra mayor debilidad es la falta de conocimientos previos y el no
      saber
      cuánto nos queda por aprender y esa incertidumbre nos puede generar a veces ansiedad y dudas.
    </p>
  </div>
</section>