<!--PARTE DE MANUELA-->
<section class="section-3">

    <h2 class="quienes-somos">QUIÉNES SOMOS</h2>

    <div class="contenido">

        <include src="./article.html" classArticle="article" imgSrc="/assets/images/francesca.png"
            alt="Foto de Francesca" classData="datos" name="Francesca Bentin" classDescription="description"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illumndistinctio eum neque alias autem consectetur sapiente optio, soluta aut oluptatem? Distinctio debitis adipisci provident accusantium maxime delectus, assumenda eum ullam!"
            twitter="#" linkedin="#" github="#" mail="#"></include>

        <include src="./article.html" classArticle="article b" imgSrc="/assets/images/nuria.png" alt="Foto de Nuria"
            classData="datos bb" name="Nuria Castaño" classDescription="description bbb"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illumndistinctio eum neque alias autem consectetur sapiente optio, soluta aut oluptatem? Distinctio debitis adipisci provident accusantium maxime delectus, assumenda eum ullam!"
            twitter="#" linkedin="#" github="#" mail="#"></include>

        <include src="./article.html" classArticle="article" imgSrc="/assets/images/cristina.png" alt="Foto de Cristina"
            classData="datos" name="Cristina Faixedas" classDescription="description"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illumndistinctio eum neque alias autem consectetur sapiente optio, soluta aut oluptatem? Distinctio debitis adipisci provident accusantium maxime delectus, assumenda eum ullam!"
            twitter="#" linkedin="#" github="#" mail="#"></include>

        <include src="./article.html" classArticle="article b" imgSrc="/assets/images/manuela.png" alt="Foto de Manuela"
            classData="datos bb" name="Manuela Inclán" classDescription="description bbb"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illumndistinctio eum neque alias autem consectetur sapiente optio, soluta aut oluptatem? Distinctio debitis adipisci provident accusantium maxime delectus, assumenda eum ullam!"
            twitter="#" linkedin="#" github="#" mail="#"></include>

        <include src="./article.html" classArticle="article" imgSrc="/assets/images/virginia.png" alt="Foto de Virginia"
            classData="datos" name="Virginia Lucero" classDescription="description"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illumndistinctio eum neque alias autem consectetur sapiente optio, soluta aut oluptatem? Distinctio debitis adipisci provident accusantium maxime delectus, assumenda eum ullam!"
            twitter="#" linkedin="#" github="#" mail="#"></include>
    </div>
</section>
<!--PARTE DE MANUELA-->