<section class="equipo-section">
    <h2 class="title-section">DIVERLOPERS</h2>
    <div class="contenido-section">
        <p>
            Este equipo está formado por cinco mujeres con backgrounds muy distintos, desde ingeniería hasta filosofía,
            cuyos caminos les han llevado a encontrarse en este punto de sus vidas en el que han decidido adentrarse en
            un nuevo sector y aprender a desenvolverse en el mundo del desarrollo web.
        </p>
        <p>
            Les espera un largo aprendizaje y un camino lleno de sorpresas pero han demostrado tener lo que hay que
            tener
            para afrontar cualquier circunstancia que la vida les ponga por delante.
        </p>
    </div>
</section>