:root {
    
    font-size: 62.5%;
}

$--black: #000;
$--light-grey-blue: rgba(184, 184, 185, 0.1);
$--aqua: #14d9c4;
$--blue-green: #099d8d;
$--white: #fff;
$--cool-grey: #b8b8b9;
$--black-8: rgba(0, 0, 0, 0.08);
$--gunmetal: #54585a;

$--colordescription: $--gunmetal;
$--colorname: $--black;
$--colorh2: $--blue-green;
$--colorlogos: $--blue-green;
$--colorpuntos: $--gunmetal;
$--colorbackground1: $--white;
$--colorbordebox: $--black-8;