.section-3 {
    width: 100%;
    padding: 30px 15px 30px;
    background-color: $--colorbackground1;
    @media screen and (min-width: 768px)
    {         width: 80%;
            margin: auto;
        }
}

.quienes-somos {

    margin-bottom: 30px;
    box-sizing: border-box;
    font-family: Rubik;
    font-size: 2.4rem;
    text-align: center;
    color: $--colorh2
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: flex-start
        }
}

.img {
    width: 180px;
    border-radius: 4px;
    border: solid 5px $--colorbordebox;
    @media screen and (min-width: 768px){
            width: 200px;
    
        }
    @media screen and (min-width: 1200px) {
        width: 278px;
            
        }
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
            align-items: flex-start;
            margin-left: 30px;
        }
}

.nombre {
    margin: 10px 0;
    font-family: OpenSans, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: $--colorname
}

.description {
    display: inline;
    width: 80%;
    max-width: 500px;
    margin-bottom: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $--colordescription;
    @media screen and (min-width: 768px) {
            display: inline;
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
    
        }
}


.logos {
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    width: 124px;
    height: 30px;

}

.logos .punto {
    font-family: OpenSans;
    color: $--colorpuntos;
    font-size: 4rem;
    margin: 2px;
    position: relative;
    top: -14px;
}

.linklogos {
    color: $--colorlogos;
    font-size: 1.6rem;

}

@media screen and (min-width: 768px) {
    .b {
        flex-direction: row-reverse;
    }

    .bb {
        align-items: flex-end;
        margin-right: 30px;

    }

    .bbb {
        text-align: right
    }

    .nav {
        margin-bottom: 20px;
    }

}

