.equipo-section {
    margin: auto;
    color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    padding: 4.5rem 4.5rem 3rem;

    .title-section {
            color: $--blue-green;
            font-size: 2.4rem;
            line-height: 1.88rem;
            text-transform: uppercase;
            font-family: Rubik, sans-serif;
            margin: 0 29.4rem 1.5rem 29.5rem;
            text-align: center;
        }
        .contenido-section {
            color: $--gunmetal;
            font-family: OpenSans, sans-serif;
            font-size: 1.6rem;
            margin: 1.5rem 0 0;
            opacity: 0.67;
            text-align: center;
            line-height: 1.5;

        }

        .contenido-section p:first-child {
            padding-bottom: 1.5rem;
        }
    @media (min-width: 768px) {
            max-width: 67.8rem;
        
    }

    @media (min-width: 1200px) {

            max-width: 60.1rem;
    }
}
